.customButton:hover{
    background-color: rgb(183, 183, 183);
}

.sideBarButton{
    color:gray;
}

.sideBarButton:hover{
    color:rgb(74, 70, 70)
}

.sideBarButton:active{
    color:black
}

#active{
    color:black;
}